body {
    background-color: rgb(27, 22, 24) !important;
  }
  
  .ui.container {
    margin-top: 40px;
    margin-bottom: 50px;
  }
  
  .ui.inverted.top.fixed.menu {
    background-image: linear-gradient(
      135deg,
      rgb(27, 22, 24) 39%,
      rgb(0, 0, 139) 89%
    ) !important;
  }
  
  .ui.clearing.segment .ui.divided.items .item.selected {
      background-color: #4CAF50;
  }
  
  .ui.positive.button a {
    color: white;
  }
  
  .tableDescription {
    margin-bottom: 50px;
  }

  .hideMessageBox {
    display: none;
  }

  .showMessageBox td .form-row .form-group.col button 
  {
    margin-top: 5px;
  }

  .showMessageBox.form-row .form-group.col button {
    margin-top: 5px;
  }

  /*home page styles*/
  
  .masthead {
    display: flex;
    align-items: center;
    background-image: linear-gradient(
            135deg,
            rgb(27, 22, 24) 39%,
            rgb(0, 0, 139) 89%
    ) !important;
    height: 100vh;
  }
  
  .masthead .ui.menu .ui.button,
  .ui.menu a.ui.inverted.button {
    margin-left: 0.5em;
  }
  
  .masthead h1.ui.header {
    font-size: 4em;
    font-weight: normal;
  }
  
  .ui.inverted.top.fixed.menu .right.item {
    padding-right: 80px
  }
  
  .ui.search .results.transition {
    display: none !important;
  }

  .masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
  }
  
  /*end home page styles*/